<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        
    body{
    background:linear-gradient(to right, rgb(228, 64, 64),rgb(71, 53, 53));
    
}
.heading{
    margin-top: 200px;
    font-size: 70px;
    
}
        
    </style>
</head>
<body>
    <h2 class="pt-3 ps-2 pb-3 " style="background-color:#ffffff;">Leave Management</h2>
<div class="text-center text-white">
<h1 class="heading">Leave Management System</h1>
<p style="font-size:25px ;" class="mt-3">AN APPLICATION THAT HELPS EMPLOYEES TO APPLY FOR LEAVE</p>
<span style="font-size:22px;" class="mt-3">Click to  <a style="text-decoration:none ;color:whitesmoke" href="/dashboard">LOGIN</a> </span>

</div>
</body>
</html>

